<div class="outer-margin">
  <div class="ui grid">
    <div class="four wide column top-row">
      <user-details [firstName]="login.fname" [lastName]="login.lname"></user-details>
    </div>
    <div class="twelve wide column top-row">
      <div class="ui segment prim-div top-row">
        <clock></clock>
        <app-header [Flights]="login.flights"></app-header>
      </div>

    </div>
    <div class="four wide column bottom-row">
      <div class="ui segment prim-div" id="sidebar">
        <div class="ui secondary fluid vertical big menu">
          <a class="item" routerLinkActive="active" [routerLink]="['dashboard']">
            Dashboard
          </a>
          <a class="item" routerLinkActive="active" [routerLink]="['search']">
            Find Flights
          </a>
          <a class="item">
            Logout
          </a>
        </div>
      </div>
    </div>
    <div class="twelve wide column bottom-row">
      <router-outlet></router-outlet>
    </div>
  </div>